.section-hero {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(209, 209, 209);
}

/* ! Article List .articles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: calc(100vw - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    /* border-radius: 10px;
  box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.75); */
}


/* ! .articles img */
.gallery img {
    display: block;
    width: 100%;
    height: 90%;
    /* height: 200px; */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.75);
}

/* ! кнопка LOAD MORE */
/* ! .button .label */
.button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.button.is-hidden {
    display: none;
}

.button>.spinner.is-hidden {
    display: none;
}

.btn1 {
    display: flex;
    justify-content: center;
    /* display: inline-block; */
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}