body.show-modal .backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .modal {
    transform: scale(1);
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal-film {
    padding: 24px;
    border-radius: 4px;
    max-width: 806px;
    width: 100%;
    min-height: 558px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}


// ! кнопка X (close-modal) 
.modal-close {
    margin-left: 736px;
    padding: 5px 10px;
    color: white;
    border-radius: 50%;
    background-color: #910000;
}


// ! весь контейнер модалки 
.modal-markup {
    display: flex;
    // flex-direction: column
}

.modal-сontent {
    margin-left: 20px;
}


// ! контейнер кнопок <ADD TO WATCHED> и <ADD TO QUEUE> (modal-library) 
.modal-library {
    display: flex;
    justify-content: flex-end;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

// ! кнопка <ADD TO WATCHED>
.modal-watched {
    padding: 5px 15px ;
    margin-right: 40px;
    border-radius: 8px;
    /* display: flex; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}


// ! кнопка <ADD TO QUEUE>
.modal-queue {
    padding: 5px 15px;
    border-radius: 8px;
}





//! Руслан
.colorGreen {
    color: white;
    // background-color: #006100;
    // background-color: #63796a;
    // background-color: #502e15;
    background-color: #74421f;

    &:hover,
    &:focus {
        // background-color: #00a300;
        // background-color: #8aac95;
        background-color: #945b32;
    }
}

.colorRed {
    color: white;
    // background-color: #810000;
    // background-color: #FF6B01;
    background-color: #f16500;

    &:hover,
    &:focus {
        // background-color: #da0000;
        // background-color: #ff964b;
        background-color: #f17923;
    }
}