/* * common */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* #search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}




/* * section-header */
.section-header {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #ffe8e8;
  text-align: center;
  background-color: rgb(121, 0, 0);
}

/* ! кнопки Filmoteka,  HOME, MY LIBRARY */
.nav-all-buttons {
  display: flex;
  justify-content: space-around;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.nav-main-buttons {
  display: flex;
  justify-content: space-around;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.button-home {
  margin-right: 40px;
  /* display: flex; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

/* ! search-form */
.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.search-form-alert {
  color: #ffdddd;
}

/* ! кнопки WATCHED и QUEUE  */
.nav-library-buttons {
  display: flex;
  justify-content: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.nav-library-watched {
  margin-right: 200px;
}

.nav-library-watched {
  padding: 15px 40px;
}

.nav-library-queue {
  padding: 15px 40px;
}





/* * modal */
body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal-film {
  padding: 24px;
  border-radius: 4px;
  max-width: 806px;
  width: 100%;
  min-height: 558px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

/* ! кнопка X (close-modal) */
.modal-close {
  margin-left: 736px;
}

/* ! кнопки ADD TO WATCHED и ADD TO QUEUE (modal-library) */
.modal-library {
  display: flex;
  justify-content: flex-end;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

/* ! кнопки ADD TO WATCHED  */
.modal-watched {
  margin-right: 20px;
  /* display: flex; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

/* ! весь контейнер модалки */
.modal-markup {
  display: flex;
}

.modal-сontent {
  margin-left: 20px;
}




/* * section-hero */
.section-hero {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(209, 209, 209);
}

/* ! Article List .articles */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.75);
}


/* ! .articles img */
.gallery img {
  display: block;
  width: 100%;
  height: 90%;
  /* height: 200px; */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.75);
}

/* ! кнопка LOAD MORE */
/* ! .button .label */
.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button>.spinner.is-hidden {
  display: none;
}

.btn1 {
  display: flex;
  justify-content: center;
  /* display: inline-block; */
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}




/* * footer */
.section-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #6d0000;
  text-align: center;
  background-color: rgb(252, 252, 158);
}

/* * _______________________________________________ */


/* ! .info.info-item */
.info {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  text-align: center;
  /* padding: 8px; */
  /* margin-bottom: 24px; */
}

/* ! .info-data */
.info-data {
  font-weight: normal;
  font-size: 16px;
  color: rgb(179, 0, 0);
}

/* ! .info-item */
.info-item {
  display: block;
  /* justify-content: center; */
  /* padding: 8px; */
  /* margin-bottom: 24px; */
}

/* ! Article List .articles */
/* .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
} */


/* ! .articles img */
/* .gallery img { */
  /* display: block; */
  /* width: 100%; */
  /* height: 90%; */
  /*! height: 200px; */
  /* object-fit: cover; */
/* } */

.articles a {
  text-decoration: none;
  color: #2a2a2a;
}

.photo-card  {
  /* border: 1px solid #2a2a2a; */
  border-radius: 10px;
  box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.75);
}


/* .articles li {
  height: 450px;
  overflow: hidden;
} */



/* ! кнопка LOAD MORE */
/* ! .button .label */
/* .button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
} */

/* .button.is-hidden {
  display: none;
} */

/* .button>.spinner.is-hidden {
  display: none;
} */

/* .btn1 {
  display: flex;
  justify-content: center;
                               display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} */


