<section class="section-hero" data-action="section-hero">
    <!--! Загрузка популярных фильмов на главную страницу -->
    <div>
        <ul class="gallery" data-action="movies-cards">
            <!--? Карточки изображений -->
        </ul>
    </div>

    <!--! кнопка LOAD MORE: -->
    <!-- <button type="button" class="load-more button">LOAD MORE</button> -->

    <button type="button" class="load-more btn1 btn-primary button" data-action="load-more1">
        <span class="spinner-border spinner-border-sm spinner is-hidden" role="status" aria-hidden="true">
        </span>
        <span class="label">LOAD MORE</span>
    </button>
</section>