<div class="backdrop js-backdrop">
    <div class="modal-film">
        <button type="button" class="modal-close" data-action="close-modal">
            X
        </button>
        <div class="modal-markup" data-action="modal-markup">
            <!-- infoFilm -->
        </div>
        <!--! Кнопки <ADD TO WATCHED> и <ADD TO QUEUE></ADD> -->
        <div class="modal-library">
            <button 
                type="button" 
                class="modal-watched"
                data-action="modal-add-watched"
                >
                ADD TO WATCHED
            </button>

            <button 
                type="button" 
                class="modal-queue"
                data-action="modal-add-queue"
                >
                ADD TO QUEUE
            </button>
        </div>
    </div>
</div>